.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.puzzleBox {
    height: 800px;
    width: 800px;
}

button {
    border: 0px;
    cursor: pointer;
}


@media (max-width: 700px) {
    h1 {
        color: blue;
    }
}