body {
    height: 100%;
    margin: 0;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;


    background-color: rgb(0, 0, 0);
}

.title {
    color: transparent;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    font-size: 4rem;
    background: linear-gradient(5deg, #3103ff, #ff0062, #ff03c0, #3103ff);
    background-clip: text;
    margin: 10px;

}

.successMessage {
    color: transparent;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    font-size: 4rem;
    background: linear-gradient(15deg, #ffffff, #bd9a01, #cfbb5f, #776101);
    background-clip: text;
    margin: 10px;

}

h2 {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    color: white;
    background: linear-gradient(20deg, #3103ff, #03a3ff, #03a3ff, #3103ff);
    background-clip: text;
    font-size: 3rem;
    margin: 0;

}

button {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 850px;
    margin: 30px;
    border: 2px solid transparent;
    border-image: linear-gradient(30deg, #ff0062, #ff03c0, #3103ff) 1;
    border-radius: 10px;
    background-color: rgb(46, 46, 46);
}

.pickText {
    display: flex;
    flex-direction: column;
    justify-content: center;




}

.puzzleSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100vh;
    border-radius: 10px;
    padding: 20px;
    background-color: white
}

.successBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 100vh;
    border-radius: 10px;
    padding: 20px;
}

.puzzleBox {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: center;
    gap: 0;
    height: 100vh;
    width: 670px;

    border: 1px solid rgba(255, 255, 255, 0.39);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: black;



}

.imgHome {
    background: none;
    border: none;
    height: 200px;
    cursor: pointer;
}

.nav {
    border: 0;
    box-shadow: 0px 4px 8px;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    background-color: rgb(245, 0, 102);
    transition: background-color .2s;

}

.nav:hover {
    background-color: rgb(255, 255, 255);

}


img {
    height: 200px;
}


.tile-button {


    border: 0px;
    outline: none;
    margin: 2px;
    padding: 5px;
    cursor: pointer;
    appearance: none;
    background-color: transparent;
}


@media (max-width: 700px) {
    h1 {
        color: blue;
    }
}